/* Definindo padrões */
:root{
    --primary-color: #282c34;
    --secondary-color: #e1e4e8;
    --emphasis-color: #e05454;
    --emphasis-word-color: white;
}

*{
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    list-style: none;
    font-family: 'Segoe UI', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    scroll-behavior: smooth;  
}

html{
    background-color: var(--emphasis-color);
}

/* Scroll */
body{
    overflow: overlay;
}
  
::-webkit-scrollbar {
    width: .5rem;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 5px;
}


  